In [10]:
import os
import warnings
warnings.filterwarnings('ignore')

from dotenv import load_dotenv
load_dotenv()

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import glob

import openai
openai.api_key = os.getenv("OPENAI_API_KEY")

import mysql.connector as mysql
import pymysql
from sqlalchemy import create_engine
host=os.getenv('MYSQL_SERVER')
database=os.getenv('MYSQL_DATABASE')
user=os.getenv('MYSQL_USER')
password=os.getenv('MYSQL_PASSWORD')

IMPUTATIONVALUES = "'A','B','C','D','G','H','J','K','L','N','P','R','Z',''"

In [11]:
def create_dbengine():
    ### Create SQLAlchmey engine
    # Create the engine to connect to the MySQL database
    connect_args={'ssl':{'fake_flag_to_enable_tls': True}}
    return create_engine(f'mysql+pymysql://{user}:{password}@{host}:3306/{database}', connect_args=connect_args)

In [12]:
def create_dbconnection():
    try:
        db = mysql.connect(host=host, user=user, password=password, database=database)
        return db, db.cursor()
    except mysql.Error as e:
        if e.errno == mysql.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
            return None
        elif e.errno == mysql.ER_BAD_DB_ERROR:
            print("Database does not exist")
            return None
        else:
            print(e)
            return None
    else:
        return None

In [13]:
def execute_dbquery(query, db=None, cursor=None):
    # If no db or cursor is provided, connect to the database
    if db is None or cursor is None:
        db, cursor = create_dbconnection()

    try:
        cursor.execute(query)
        db.commit()
        # time.sleep(5)
    except mysql.Error as e:
        print(f"Failed creating database with query: {query} - Error: {e}")
        exit(1)

In [14]:
def create_name_from_description(titles):
    titleList = ""
    for title in titles:
        title = title.replace(",", "").replace("'", "").replace(".", "").lower()
        titleList += f'[{title}],'
    message = {"role": "user", "content": f"{titleList}"}
    messages = [
        {
        "role": "system",
        "content": """
            Produce a list of readable database column names using the list of Column Descriptions provided.
            Column Names should NOT start with a number, be MySQL reserved word or Python keyword. 
            All special characters are to be replaced with an underscore and the Column Name should be all lowercase. 
            Make sure Column Names are readable, descriptive, concise, consistent, unique, and less than 30 characters including underscores.
            Return one entry for each Column Name submitted by the user.
            DO NOT return a numbered list.
            Substitute common words in the Column Descriptions with abbreviations such as:
                'inst' replaces 'institution'
                'id' replaces 'identification'
                'class' replaces 'classification'
                'cd' replaces 'code'
                'org' replaces 'organization'
                'loc' replaces 'location'
                'cat' replaces 'category'
                'url' replaces 'web address'
                'url' replaces 'website address'
                'rpt' replaces 'report'
            Returned Column Name(s) should be in square brackets."""
        },
        {
        "role": "user",
        "content": "[Unique identification number of the institution]"
        },
        {
        "role": "assistant",
        "content": "[uid]"
        },
        {
        "role": "user",
        "content": "[Institution (entity) name], [Institution name alias]"
        },
        {
        "role": "assistant",
        "content": "[inst_name], [inst_alias]"
        },
        {
        "role": "user",
        "content": """[Title of chief administrator], 
                [Disability Services Web Address], 
                [Institution's internet web address], 
                [Office of Postsecondary Education (OPE) ID Number], 
                [Sector of institution]"""
        },
        {
        "role": "assistant",
        "content": "[title_chief_administrator], [disability_url], [inst_url], [ope_id], [sector]"
        }
    ]
    messages.append(message)

    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=0,
        max_tokens=1024,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0
    )
    return response.choices[0]['message']['content'].replace("[", "").replace("]", "").replace(" ", "").split(",")

In [15]:
def return_list_of_processed_tables():
    directory_path = 'dictionary/'
    file_pattern = '*.new.xlsx'

    files_list = glob.glob(directory_path + '/' + file_pattern)
    new_files_list = []
    for each_file in files_list:
        new_files_list.append(each_file.replace(directory_path, '').replace('.new.xlsx', '').upper())

    return new_files_list

In [16]:
### 
### Process the IPEDS data tables and create new column names using OpenAI API
###
### Read the dictionary files for the database
dbDictionary = pd.read_excel('@dictionary.xlsx', sheet_name='Tables21')
dbValues = pd.read_excel('@dictionary.xlsx', sheet_name='valuesets21')

### Create a list of tuples with the table names and the data files
tableNames = list(zip(dbDictionary.TIM7020TableName, dbDictionary.TableName))
### Get a list of the tables that have already been processed
processedTables = return_list_of_processed_tables()
###
### For each table, generate the new variable names using OpenAI API
### Write the new variable names to a ".new." dictionary file, 
###  so we're not having to make repeated calls to the API
###
for newTableName, ipedsTableName in tableNames:
    if ipedsTableName.upper() not in processedTables:
        ### Processing the current table
        print(f'newTableName: {newTableName}, ipedsTableName: {ipedsTableName}')
        ### Read table's dictionary file
        tableDictionary = pd.read_excel(f'dictionary/{ipedsTableName}.xlsx', sheet_name=1)
        # Create list of column descriptions to be used as input to the API
        varibleTitles = tableDictionary.iloc[:,6].tolist()
        # Print the number of variables in the list of column names
        print(f'varibleTitles (length): {len(varibleTitles)}')
        # Group the column names into groups of 30 to make the API calls
        groups = [varibleTitles[i:i+20] for i in range(0, len(varibleTitles), 20)]
        varibleTitlesNew = []
        for group in groups:
            varibleTitlesNew.extend(create_name_from_description(group))
            time.sleep(5)
        # Print the number of variables in the list of new column names
        print(f'varibleTitlesNew (length): {len(varibleTitlesNew)}')
        # Append the new column names to the table's dictionary file
        tableDictionary['varname_new'] = varibleTitlesNew
        # Write the new dictionary file to disk
        tableDictionary.to_excel(f'dictionary/{ipedsTableName.lower()}.new.xlsx', sheet_name='varlist', index=False)

In [17]:
### Connect to database and create cursor
db, cursor = create_dbconnection()
###
### Read the dictionary file for the database
###
dbDictionary = pd.read_excel('@dictionary.xlsx', sheet_name='Tables21')
dbRefValues = pd.read_excel('@dictionary.xlsx', sheet_name='valuesets21')
loopCount = 0
### Create a list of tuples with the table names and the data files
tableNames = list(zip(dbDictionary.TIM7020TableName, dbDictionary.TableName))

### 
### For each table, read the dictionary file and build the CREATE TABLE/ALTER TABLE queries 
### to build the IPEDS Postsecondary database using the IPEDS dictionary and data files
### The novel opportunity here is to use the dictory file to determine the data type of the columns
###   create new human readable column names and added the column description as column comments 
###
for newTableName, ipedsTableName in tableNames:
    ### Read the dictionary file
    print(f'newTableName: {newTableName}, ipedsTableName: {ipedsTableName}')
    ### Read table's dictionary file
    tableDictionary = pd.read_excel(f'dictionary/{ipedsTableName}.new.xlsx', sheet_name='varlist')
    # Create list of column descriptions less the first row (IPEDS ID)
    variableNames = tableDictionary['varname_new'].tolist()
    ### Read first 100 rows of the data file to verify data types
    tableData = pd.read_csv(f'data/{ipedsTableName}.csv', nrows=100, encoding="utf-8", na_values=['.', ' '])
    ### Create string for the query
    createTableQuery = None
    alterTableQuery = f'ALTER TABLE {newTableName} \n'
    ###
    ### Loop through the rows of the table dictionary file
    ###
    for index, row in tableDictionary.iterrows():
        ### Setup the column creation variables
        addColumn = None
        addImputed = None
        addCheck = None
        dataType = None
        ### Skip the first row (inst_id), we'll create the table with this common column
        if index == 0:
            createTableQuery = f'CREATE TABLE {newTableName} ({row.varname_new} INTEGER);'
            continue

        ### If there is an imputation variable, add the column to the table
        if (isinstance(row.imputationvar, str) == True) and (row.imputationvar != 'None' and row.imputationvar[0].upper() == 'X'):
            ###
            ### Create the ADD COLUMN line for the imputed flag column to be added to the ALTER TABLE query
            ### 
            addImputed = f'  ADD COLUMN {row.varname_new}_imp ENUM({IMPUTATIONVALUES}) COMMENT "{row.varname}|{row.varTitle}",'

        ### Determine the data type to use for the field based on the metadata
        ###
        ### If the column is an alpha column, set the data type to VARCHAR for the specified field width
        ###
        if (row.format == 'Alpha'):
            dataType = f'VARCHAR({row.Fieldwidth})'

        ###
        ### If the column is a continuous column, determine the data type and field width
        ###
        elif (row.format == 'Cont'):
            # Check to see if data type is integer or float, but looking at how the data would import
            if tableData[row.varname.upper()].dtype == 'float':
                if row.Fieldwidth > 8:
                    dataType = 'DOUBLE'
                else:
                    dataType = 'FLOAT'
            else:
                if row.Fieldwidth > 8:
                    dataType = 'BIGINT'
                elif row.Fieldwidth > 6:
                    dataType = 'INT'
                elif row.Fieldwidth in [5, 6]:
                    dataType = 'MEDIUMINT'
                elif row.Fieldwidth in [3, 4]:
                    dataType = 'SMALLINT'
                elif row.Fieldwidth in [1, 2]:
                    dataType = 'TINYINT'
        ###
        ### If the column is a discrete column, 
        ###  determine if we need to create a CHECK contraint or if a Reference table needs to be created
        ###  with a foreign key constraint
        ###
        elif (row.format == 'Disc'):
            ### Get the list of discrete values from the metadata spreadsheet
            decreteValues = dbRefValues.loc[dbRefValues['varNumber'] == row.varnumber, 'Codevalue'].tolist()
            ### If there are less than 6 discrete values, create a CHECK constraint
            if len(decreteValues) < 6:
                ###
                ### Create the CHECK constraint line to be added to the ALTER TABLE query
                ###  
                addCheck = f'      ADD CHECK ({row.varname_new} IN ({", ".join(decreteValues)})),'
            ### If there are more than 6 discrete values, create a reference table
            else:
                ## TO DO: Create reference table query when there are more than 6 discrete values
                continue
            ###
            ### Set data type for the descrete column
            ###
            if (row.DataType == 'A'):
                dataType = f'VARCHAR({row.Fieldwidth})'
            elif tableData[row.varname.upper()].dtype == 'float':
                if row.Fieldwidth > 8:
                    dataType = 'DOUBLE'
                else:
                    dataType = 'FLOAT'
            else:
                if row.Fieldwidth > 8:
                    dataType = 'BIGINT'
                elif row.Fieldwidth > 1:
                    dataType = 'INT'
                else:
                    dataType = 'TINYINT'
        ###
        ### If the data type is still None, set it to TEXT
        ###  
        if dataType == None:
            print(f'**WARNING**: {row.varname_new} has no data type, setting to TEXT')
            dataType = 'TEXT'
        
        ###
        ### Create the ADD COLUMN line to be added to the ALTER TABLE query
        ###    
        addColumn = f'    ADD COLUMN {row.varname_new} {dataType} COMMENT "{row.varname}|{row.varTitle}",'

        ###
        ### Build the ALTER TABLE query for the current column
        ###
        addToQuery = ''
        if addImputed != None:
            addToQuery = addImputed + '\n'
        if addColumn != None:
            addToQuery += addColumn + '\n'
        if addCheck != None:
            addToQuery += addCheck + '\n'
        alterTableQuery += addToQuery

        ### Continue for the next row in the table dictionary file
        continue
    ##
    ## Remove the last comma and space, add a semicolon
    ##
    alterTableQuery = alterTableQuery[:-2] + ';'
    
    print(f'\n{createTableQuery}\n')
    print(f'\n{alterTableQuery}\n')

    ### DROP the table
    execute_dbquery(f'DROP TABLE IF EXISTS {newTableName};', db=db, cursor=cursor)
    ### Create the table
    execute_dbquery(query=createTableQuery, db=db, cursor=cursor)
    ### Alter the table by adding the columns
    execute_dbquery(query=alterTableQuery, db=db, cursor=cursor)

    loopCount += 1
    if loopCount > 2:
        break

newTableName: inst_ic_directory, ipedsTableName: HD2021

CREATE TABLE inst_ic_directory (inst_id INTEGER);


ALTER TABLE inst_ic_directory
    ADD COLUMN inst_name VARCHAR(120) COMMENT "INSTNM|Institution (entity) name",
    ADD COLUMN inst_alias VARCHAR(2000) COMMENT "IALIAS|Institution name alias",
    ADD COLUMN address VARCHAR(100) COMMENT "ADDR|Street address or post office box",
    ADD COLUMN city VARCHAR(30) COMMENT "CITY|City location of institution",
    ADD COLUMN zip_code VARCHAR(10) COMMENT "ZIP|ZIP code",
    ADD COLUMN chief_admin_name VARCHAR(50) COMMENT "CHFNM|Name of chief administrator",
    ADD COLUMN chief_admin_title VARCHAR(50) COMMENT "CHFTITLE|Title of chief administrator",
    ADD COLUMN phone_number VARCHAR(15) COMMENT "GENTELE|General information telephone number",
    ADD COLUMN employer_id BIGINT COMMENT "EIN|Employer Identification Number",
    ADD COLUMN dun_bradstreet_numbers VARCHAR(2000) COMMENT "DUNS|Dun and Bradstreet numbers",
    ADD COLUMN ope_id INT COMMENT "OPEID|Office of Postsecondary Education (OPE) ID Number",
    ADD COLUMN inst_url VARCHAR(150) COMMENT "WEBADDR|Institution's internet website address",
    ADD COLUMN admissions_url VARCHAR(200) COMMENT "ADMINURL|Admissions office web address",
    ADD COLUMN financial_aid_url VARCHAR(200) COMMENT "FAIDURL|Financial aid office web address",
    ADD COLUMN online_app_url VARCHAR(200) COMMENT "APPLURL|Online application web address",
    ADD COLUMN net_price_calculator_url VARCHAR(200) COMMENT "NPRICURL|Net price calculator web address",
    ADD COLUMN veterans_tuition_url VARCHAR(200) COMMENT "VETURL|Veterans and Military Servicemembers tuition policies web address",
    ADD COLUMN athlete_graduation_url VARCHAR(150) COMMENT "ATHURL|Student-Right-to-Know student athlete graduation rate web address",
    ADD COLUMN disability_url VARCHAR(200) COMMENT "DISAURL|Disability Services Web Address",
    ADD COLUMN level INT COMMENT "ICLEVEL|Level of institution",
      ADD CHECK (level IN (1, 2, 3, -3)),
    ADD COLUMN control INT COMMENT "CONTROL|Control of institution",
      ADD CHECK (control IN (1, 2, 3, -3)),
    ADD COLUMN undergraduate_offering INT COMMENT "UGOFFER|Undergraduate offering",
      ADD CHECK (undergraduate_offering IN (1, 2, -3)),
    ADD COLUMN graduate_offering INT COMMENT "GROFFER|Graduate offering",
      ADD CHECK (graduate_offering IN (1, 2, -3)),
    ADD COLUMN degree_granting_status INT COMMENT "DEGGRANT|Degree-granting status",
      ADD CHECK (degree_granting_status IN (1, 2, -3)),
    ADD COLUMN hbcu INT COMMENT "HBCU|Historically Black College or University",
      ADD CHECK (hbcu IN (1, 2)),
    ADD COLUMN has_hospital INT COMMENT "HOSPITAL|Institution has hospital",
      ADD CHECK (has_hospital IN (1, 2, -1, -2)),
    ADD COLUMN grants_medical_degree INT COMMENT "MEDICAL|Institution grants a medical degree",
      ADD CHECK (grants_medical_degree IN (1, 2, -1, -2)),
    ADD COLUMN tribal_college INT COMMENT "TRIBAL|Tribal college",
      ADD CHECK (tribal_college IN (1, 2)),
    ADD COLUMN open_to_public INT COMMENT "OPENPUBL|Institution open to the general public",
      ADD CHECK (open_to_public IN (1, 0)),
    ADD COLUMN unitid_merged_schools MEDIUMINT COMMENT "NEWID|UNITID for merged schools",
    ADD COLUMN year_deleted_ipeds INT COMMENT "DEATHYR|Year institution was deleted from IPEDS",
      ADD CHECK (year_deleted_ipeds IN (2021, -2)),
    ADD COLUMN date_closed VARCHAR(10) COMMENT "CLOSEDAT|Date institution closed",
    ADD COLUMN active_in_current_year TINYINT COMMENT "CYACTIVE|Institution is active in current year",
      ADD CHECK (active_in_current_year IN (1, 2, 3)),
    ADD COLUMN postsecondary_indicator INT COMMENT "POSTSEC|Primarily postsecondary indicator",
      ADD CHECK (postsecondary_indicator IN (1, 2, 3)),
    ADD COLUMN title_iv_indicator INT COMMENT "PSEFLAG|Postsecondary institution indicator",
      ADD CHECK (title_iv_indicator IN (1, 2, 3)),
    ADD COLUMN rpt_method_charges_grad_rates_retention_rates_fin_aid INT COMMENT "RPTMTH|Reporting method for student charges, graduation rates, retention rates and student financial aid",
      ADD CHECK (rpt_method_charges_grad_rates_retention_rates_fin_aid IN (1, 3, 2, -1, -2)),
    ADD COLUMN land_grant_institution INT COMMENT "LANDGRNT|Land Grant Institution",
      ADD CHECK (land_grant_institution IN (1, 2)),
    ADD COLUMN multi_inst_org INT COMMENT "F1SYSTYP|Multi-institution or multi-campus organization",
      ADD CHECK (multi_inst_org IN (1, 2, -1, -2)),
    ADD COLUMN multi_inst_name VARCHAR(80) COMMENT "F1SYSNAM|Name of multi-institution or multi-campus organization",
    ADD COLUMN cbsa_type INT COMMENT "CBSATYPE|CBSA Type Metropolitan or Micropolitan",
      ADD CHECK (cbsa_type IN (1, 2, -2, -3)),
    ADD COLUMN county_name VARCHAR(30) COMMENT "COUNTYNM|County name",
    ADD COLUMN longitude DOUBLE COMMENT "LONGITUD|Longitude location of institution",
    ADD COLUMN latitude DOUBLE COMMENT "LATITUDE|Latitude location of institution",
    ADD COLUMN custom_comparison_group INT COMMENT "DFRCUSCG|Data Feedback Report - Institution submitted a custom comparison group",
      ADD CHECK (custom_comparison_group IN (1, 2, -1, -2));

newTableName: inst_ic_response_flags, ipedsTableName: FLAGS2021

CREATE TABLE inst_ic_response_flags (inst_id INTEGER);


ALTER TABLE inst_ic_response_flags
    ADD COLUMN ic_migration_status INT COMMENT "LOCK_IC|Status of IC component when institution was migrated",
      ADD CHECK (ic_migration_status IN (0, 1, 3, 8, -2)),
    ADD COLUMN ic_imputation_method INT COMMENT "IMP_IC|Type of imputation method Institutional Characteristics",
      ADD CHECK (ic_imputation_method IN (1, 2, -2)),
    ADD COLUMN completions_migration_status INT COMMENT "LOCK_C|Status of completions component when institution was migrated",
      ADD CHECK (completions_migration_status IN (0, 3, 8, -2)),
    ADD COLUMN completions_parent_child_indicator INT COMMENT "PRCH_C|Parent/child indicator for completions",
      ADD CHECK (completions_parent_child_indicator IN (1, 2, -2)),
    ADD COLUMN completions_parent_unitid MEDIUMINT COMMENT "IDX_C|UnitID of Parent institution",
    ADD COLUMN completions_allocation_factor FLOAT COMMENT "PCC_F|Parent/child allocation factor - Completions",
    ADD COLUMN completions_imputation_method INT COMMENT "IMP_C|Type of imputation method Completions",
      ADD CHECK (completions_imputation_method IN (1, 2, 3, -2)),
    ADD COLUMN enrollment_migration_status INT COMMENT "LOCK_E12|Status of 12-month enrollment component whe data collection closed",
      ADD CHECK (enrollment_migration_status IN (0, 1, 3, 8, -2)),
    ADD COLUMN enrollment_parent_child_indicator INT COMMENT "PRCH_E12|Parent/child indicator for 12-month enrollment",
      ADD CHECK (enrollment_parent_child_indicator IN (1, 2, -2)),
    ADD COLUMN enrollment_parent_unitid MEDIUMINT COMMENT "IDX_E12|ID number of parent institution - 12-month enrollment",
    ADD COLUMN enrollment_allocation_factor FLOAT COMMENT "PCE12_F|Parent/child allocation factor - 12-month enrollment",
    ADD COLUMN enrollment_imputation_method INT COMMENT "IMP_E12|Type of imputation method - 12 month enrollment",
      ADD CHECK (enrollment_imputation_method IN (1, 2, 6, -2)),
    ADD COLUMN aid_migration_status INT COMMENT "LOCK_SFA|Status of Student Financial Aid Survey when data collection closed",
      ADD CHECK (aid_migration_status IN (8, 0, 1, 3, -2)),
    ADD COLUMN aid_parent_child_indicator INT COMMENT "PRCH_SFA|Parent/child indicator Student Financial Aid survey",
      ADD CHECK (aid_parent_child_indicator IN (1, 2, -2)),
    ADD COLUMN aid_parent_unitid MEDIUMINT COMMENT "IDX_SFA|ID number of parent institution Student Financial Aid",
    ADD COLUMN aid_allocation_factor FLOAT COMMENT "PCSFA_F|Parent/child allocation factor - Student Financial Aid",
    ADD COLUMN aid_imputation_method INT COMMENT "IMP_SFA|Type of imputation method Student Financial Aid",
      ADD CHECK (aid_imputation_method IN (1, 2, 3, -2)),
    ADD COLUMN aid_collection_form_type INT COMMENT "SFAFORM|SFA collection form type",
      ADD CHECK (aid_collection_form_type IN (1, 2, 3, -2)),
    ADD COLUMN graduation_migration_status INT COMMENT "LOCK_GR|Status of Graduation rate survey when data collection closed",
      ADD CHECK (graduation_migration_status IN (0, 1, 3, 8, -2)),
    ADD COLUMN graduation_parent_child_indicator INT COMMENT "PRCH_GR|Parent/child indicator - Graduation Rates",
      ADD CHECK (graduation_parent_child_indicator IN (1, 2, -2)),
    ADD COLUMN graduation_parent_unitid MEDIUMINT COMMENT "IDX_GR|UNITID of parent institution reporting Graduation Rates",
    ADD COLUMN graduation_allocation_factor FLOAT COMMENT "PCGR_F|Parent/child allocation factor - Graduation Rates",
    ADD COLUMN graduation_imputation_method INT COMMENT "IMP_GR|Imputation method - Graduation Rates",
      ADD CHECK (graduation_imputation_method IN (1, 2, 3, -2)),
    ADD COLUMN status_graduation_rate_200_survey INT COMMENT "LOCK_GR2|Status of Graduation rate 200 survey when data collection closed",
      ADD CHECK (status_graduation_rate_200_survey IN (0, 1, 8, -2)),
    ADD COLUMN parent_child_indicator_graduation_rates_200 INT COMMENT "PRCH_GR2|Parent/child indicator - Graduation Rates 200",
      ADD CHECK (parent_child_indicator_graduation_rates_200 IN (1, 2, -2)),
    ADD COLUMN unitid_parent_institution_graduation_rates_200 MEDIUMINT COMMENT "IDX_GR2|UNITID of parent institution reporting Graduation Rates 200",
    ADD COLUMN parent_child_allocation_factor_graduation_rates_200 FLOAT COMMENT "PCGR2_F|Parent/child allocation factor - Graduation Rates 200",
    ADD COLUMN imputation_method_graduation_rates_200 INT COMMENT "IMP_GR2|Imputation method - Graduation Rates 200",
      ADD CHECK (imputation_method_graduation_rates_200 IN (1, 2, 3, -2)),
    ADD COLUMN status_outcome_measures_component INT COMMENT "LOCK_OM|Status of Outcome Measures component when data collection closed",
      ADD CHECK (status_outcome_measures_component IN (0, 1, 3, 8, -2)),
    ADD COLUMN parent_child_indicator_outcome_measures INT COMMENT "PRCH_OM|Parent/child indicator - Outcome Measures",
      ADD CHECK (parent_child_indicator_outcome_measures IN (1, 2, -2)),
    ADD COLUMN unitid_parent_institution_outcome_measures MEDIUMINT COMMENT "IDX_OM|UNITID of parent institution reporting Outcome Measures",
    ADD COLUMN parent_child_allocation_factor_outcome_measures FLOAT COMMENT "PCOM_F|Parent/child allocation factor - Outcome Measures",
    ADD COLUMN imputations_method_outcome_measures INT COMMENT "IMP_OM|Imputations method - Outcome Measures",
      ADD CHECK (imputations_method_outcome_measures IN (1, 2, -2)),
    ADD COLUMN status_admissions_component_migration INT COMMENT "LOCK_ADM|Status of admissions component when institution was migrated",
      ADD CHECK (status_admissions_component_migration IN (8, 0, 1, 3, -2)),
    ADD COLUMN parent_child_indicator_admissions INT COMMENT "PRCH_ADM|Parent/child indicator for Admissions",
      ADD CHECK (parent_child_indicator_admissions IN (1, 2, -2)),
    ADD COLUMN id_parent_institution_admissions MEDIUMINT COMMENT "IDX_ADM|ID number of parent institution - Admissions",
    ADD COLUMN parent_child_allocation_factor_admissions FLOAT COMMENT "PCADM_F|Parent/child allocation factor - Admissions",
    ADD COLUMN type_imputation_method_admissions_component INT COMMENT "IMP_ADM|Type of imputation method - Admissions component",
      ADD CHECK (type_imputation_method_admissions_component IN (1, 2, 3, -2)),
    ADD COLUMN parent_child_indicator_hr_component INT COMMENT "PRCH_HR|Parent/child  indicator - Human Resources (HR) component",
      ADD CHECK (parent_child_indicator_hr_component IN (1, 2, -2)),
    ADD COLUMN id_institution_hr_component MEDIUMINT COMMENT "IDX_HR|ID of institution where data are reported for the Human Resources (HR) component",
    ADD COLUMN parent_child_allocation_factor_hr FLOAT COMMENT "PCHR_F|Parent/child allocation factor - HR",
    ADD COLUMN type_imputation_method_hr_component INT COMMENT "IMP_HR|Type of Imputation method - Human Resources (HR) component",
      ADD CHECK (type_imputation_method_hr_component IN (1, 2, 3, 4, -2)),
    ADD COLUMN has_15_or_more_full_time_employees INT COMMENT "FTEMP15|Does institution have 15 or more full-time employees",
      ADD CHECK (has_15_or_more_full_time_employees IN (1, 2, -1, -2)),
    ADD COLUMN has_tenure_system INT COMMENT "TENURSYS|Does institution have a tenure system",
      ADD CHECK (has_tenure_system IN (1, 2, -1, -2)),
    ADD COLUMN salary_exclusion INT COMMENT "SA_EXCL|Salary exclusion",
      ADD CHECK (salary_exclusion IN (1, 2, -2, -1)),
    ADD COLUMN status_fall_enrollment_survey INT COMMENT "LOCK_EF|Status of Fall Enrollment survey when data collection closed",
      ADD CHECK (status_fall_enrollment_survey IN (0, 1, 3, 8, -2)),
    ADD COLUMN parent_child_indicator_fall_enrollment INT COMMENT "PRCH_EF|Parent/child indicator f- Fall enrollment",
      ADD CHECK (parent_child_indicator_fall_enrollment IN (1, 2, -2)),
    ADD COLUMN parent_id_fall_enrollment MEDIUMINT COMMENT "IDX_EF|ID number of parent institution - Fall enrollment",
    ADD COLUMN parent_child_allocation_factor_fall_enrollment FLOAT COMMENT "PCEF_F|Parent/child allocation factor - Fall enrollment",
    ADD COLUMN imputation_method_fall_enrollment INT COMMENT "IMP_EF|Type of imputation method - Fall enrollment",
      ADD CHECK (imputation_method_fall_enrollment IN (1, 2, 4, 5, -2)),
    ADD COLUMN status_enrollment_major INT COMMENT "PTACIPEF|Status enrollment by major",
      ADD CHECK (status_enrollment_major IN (1, 5, -2, -9)),
    ADD COLUMN status_finance_survey_closed INT COMMENT "LOCK_F|Status of Finance survey when data collection closed",
      ADD CHECK (status_finance_survey_closed IN (0, 1, 3, 8, -2)),
    ADD COLUMN parent_id_finance MEDIUMINT COMMENT "IDX_F|ID number of parent institution - Finance",
    ADD COLUMN parent_child_allocation_factor_finance FLOAT COMMENT "PCF_F|Parent/child allocation factor - Finance",
    ADD COLUMN parent_child_system_indicator_finance INT COMMENT "PRCHTP_F|Parent/child system indicator - Finance",
      ADD CHECK (parent_child_system_indicator_finance IN (1, 2, 3, 5, -2)),
    ADD COLUMN imputation_method_finance INT COMMENT "IMP_F|Type of imputation method  Finance",
      ADD CHECK (imputation_method_finance IN (1, 2, 3, -2)),
    ADD COLUMN reporting_standards_finance INT COMMENT "FORM_F|Identifies reporting standards GASB, FASB, or modified FASB(for-profit institutions) used to report finance data",
      ADD CHECK (reporting_standards_finance IN (4, 2, 3, -1, -2)),
    ADD COLUMN audit_opinion_finance INT COMMENT "GPFS|Audit Opinion GPFS from auditor (all finance)",
      ADD CHECK (audit_opinion_finance IN (1, 2, 3, -1, -2)),
    ADD COLUMN gasb_accounting_model INT COMMENT "F1GASBAL|GASB alternative accounting model",
      ADD CHECK (gasb_accounting_model IN (1, 2, 3, -1, -2)),
    ADD COLUMN pell_grants_accounting_fasb INT COMMENT "F2PELL|Account for Pell grants as pass through transactions or as federal grant revenues to the institution (FASB  institutions)?",
      ADD CHECK (pell_grants_accounting_fasb IN (1, 2, 3, -1, -2)),
    ADD COLUMN pell_grants_accounting_private_for_profit INT COMMENT "F3PELL|Account for Pell grants as pass through transactions or as federal grant revenues to the institution (private-for-profit institutions)?",
      ADD CHECK (pell_grants_accounting_private_for_profit IN (1, 2, 3, -1, -2)),
    ADD COLUMN athletic_revenues_sales_educational INT COMMENT "F_ATHRV1|Are intercollegiate athletic revenues included with sales and services of educational activities",
      ADD CHECK (athletic_revenues_sales_educational IN (1, 0, -1, -2)),
    ADD COLUMN athletic_revenues_sales_auxiliary INT COMMENT "F_ATHRV2|Are intercollegiate athletic revenues included with sales and services of auxiliary enterprises",
      ADD CHECK (athletic_revenues_sales_auxiliary IN (1, 0, -1, -2)),
    ADD COLUMN no_athletic_revenues INT COMMENT "F_ATHRV3|Does not have intercollegiate athletics revenues",
      ADD CHECK (no_athletic_revenues IN (1, 0, -1, -2)),
    ADD COLUMN athletic_revenues_other_source INT COMMENT "F_ATHRV9|Are intercollegiate athletic revenues included with a source other than educational activities or auxiliary enterprises",
      ADD CHECK (athletic_revenues_other_source IN (1, 0, -1, -2)),
    ADD COLUMN status_migration_academic_libraries INT COMMENT "LOCK_AL|Status of Academic Library component when institution was migrated",
      ADD CHECK (status_migration_academic_libraries IN (0, 8, -2)),
    ADD COLUMN parent_child_indicator_academic_libraries INT COMMENT "PRCH_AL|Parent/child indicator for Academic Libraries",
      ADD CHECK (parent_child_indicator_academic_libraries IN (1, 2, -2)),
    ADD COLUMN parent_unitid_academic_libraries MEDIUMINT COMMENT "IDX_AL|UnitID of Parent institution - Academic Libraries",
    ADD COLUMN parent_child_allocation_factor_academic_libraries FLOAT COMMENT "PCAL_F|Parent/child allocation factor - Academic Libraries",
    ADD COLUMN imputation_method_academic_libraries INT COMMENT "IMP_AL|Type of imputation method - Academic Libraries",
      ADD CHECK (imputation_method_academic_libraries IN (1, 2, 3, -2)),
    ADD COLUMN natural_disaster_id INT COMMENT "NTRLDSTR|Natural Disaster identification",
      ADD CHECK (natural_disaster_id IN (1, 0));

newTableName: inst_ic_offerings, ipedsTableName: IC2021

CREATE TABLE inst_ic_offerings (inst_id INTEGER);


ALTER TABLE inst_ic_offerings
    ADD COLUMN occupational INT COMMENT "PEO1ISTR|Occupational",
      ADD CHECK (occupational IN (1, 0, -1)),
    ADD COLUMN academic INT COMMENT "PEO2ISTR|Academic",
      ADD CHECK (academic IN (1, 0, -1)),
    ADD COLUMN continuing_professional INT COMMENT "PEO3ISTR|Continuing professional",
      ADD CHECK (continuing_professional IN (1, 0, -1, -2)),
    ADD COLUMN recreational_or_avocational INT COMMENT "PEO4ISTR|Recreational or avocational",
      ADD CHECK (recreational_or_avocational IN (1, 0, -1)),
    ADD COLUMN adult_basic_remedial_or_high_school_equivalent INT COMMENT "PEO5ISTR|Adult basic remedial or high school equivalent",
      ADD CHECK (adult_basic_remedial_or_high_school_equivalent IN (1, 0, -1)),
    ADD COLUMN secondary INT COMMENT "PEO6ISTR|Secondary (high school)",
      ADD CHECK (secondary IN (1, 0, -1)),
    ADD COLUMN inst_control_affiliation INT COMMENT "CNTLAFFI|Institutional control or affiliation",
      ADD CHECK (inst_control_affiliation IN (1, 2, 3, 4, -1)),
    ADD COLUMN cert_lt_1yr INT COMMENT "LEVEL1|Certificate of less than 1 year",
      ADD CHECK (cert_lt_1yr IN (1, 0, -1)),
    ADD COLUMN cert_lt_12wks INT COMMENT "LEVEL1A|Certificate of less than 12 weeks",
      ADD CHECK (cert_lt_12wks IN (1, 0, -1)),
    ADD COLUMN cert_12wks_lt_1yr INT COMMENT "LEVEL1B|Certificate of at least 12 weeks, but less than 1 year",
      ADD CHECK (cert_12wks_lt_1yr IN (1, 0, -1)),
    ADD COLUMN cert_1yr_lt_2yr INT COMMENT "LEVEL2|Certifiicate of at least 1 year, but less than 2 years",
      ADD CHECK (cert_1yr_lt_2yr IN (1, 0, -1)),
    ADD COLUMN associates_degree INT COMMENT "LEVEL3|Associate's degree",
      ADD CHECK (associates_degree IN (1, 0, -1)),
    ADD COLUMN cert_2yr_lt_4yr INT COMMENT "LEVEL4|Certificate of at least 2 years, but less than 4 years",
      ADD CHECK (cert_2yr_lt_4yr IN (1, 0, -1)),
    ADD COLUMN bachelors_degree INT COMMENT "LEVEL5|Bachelor's degree",
      ADD CHECK (bachelors_degree IN (1, 0, -1, -2)),
    ADD COLUMN postbacc_cert INT COMMENT "LEVEL6|Postbaccalaureate certificate",
      ADD CHECK (postbacc_cert IN (1, 0, -1, -2)),
    ADD COLUMN masters_degree INT COMMENT "LEVEL7|Master's degree",
      ADD CHECK (masters_degree IN (1, 0, -1, -2)),
    ADD COLUMN post_masters_cert INT COMMENT "LEVEL8|Post-master's certificate",

In [18]:
### Connect to database and create cursor
db, cursor = create_dbconnection()
engine = create_dbengine()
###
### Read the dictionary file for the databasea
###
dbDictionary = pd.read_excel('@dictionary.xlsx', sheet_name='Tables21')
dbRefValues = pd.read_excel('@dictionary.xlsx', sheet_name='valuesets21')
loopCount = 0
### Create a list of tuples with the table names and the data files
tableNames = list(zip(dbDictionary.TIM7020TableName, dbDictionary.TableName))

### 
### For each table, read the dictionary file and build the CREATE TABLE/ALTER TABLE queries 
### to build the IPEDS Postsecondary database using the IPEDS dictionary and data files
### The novel opportunity here is to use the dictory file to determine the data type of the columns
###   create new human readable column names and added the column description as column comments 
###
for newTableName, ipedsTableName in tableNames:
    ### Read the dictionary file
    print(f'newTableName: {newTableName}, ipedsTableName: {ipedsTableName}')
    ### Read table's dictionary file
    tableDictionary = pd.read_excel(f'dictionary/{ipedsTableName}.new.xlsx', sheet_name='varlist')
    ### Create a dictionary of old column names and new column names
    columnNames = dict(zip(tableDictionary['varname'], tableDictionary['varname_new']))
    ### Read in the CSV data file
    tableData = pd.read_csv(f'data/{ipedsTableName.lower()}.csv', encoding='latin-1')
    ### Rename the columns  
    tableData = tableData.rename(columns=columnNames)
    ### Write data to database
    tableData.to_sql(name=newTableName, con=engine, if_exists='replace', index=False)

    loopCount += 1
    if loopCount > 2:
        break

newTableName: inst_ic_directory, ipedsTableName: HD2021
newTableName: inst_ic_response_flags, ipedsTableName: FLAGS2021
newTableName: inst_ic_offerings, ipedsTableName: IC2021