In [23]:
import os
import warnings
warnings.filterwarnings('ignore')

from dotenv import load_dotenv
load_dotenv()

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import glob

import openai
openai.api_key = os.getenv("OPENAI_API_KEY")

import mysql.connector as mysql
from sqlalchemy import create_engine as dbengine

IMPUTATIONVALUES = "'A','B','C','D','G','H','J','K','L','N','P','R','Z',''"

In [24]:
def create_dbconnection():
    try:
        db = mysql.connect(host=os.getenv('MYSQL_SERVER'),
                            database=os.getenv('MYSQL_DATABASE'),
                            user=os.getenv('MYSQL_USER'),
                            password=os.getenv('MYSQL_PASSWORD'))
        return db, db.cursor()
    except mysql.Error as e:
        if e.errno == sqlError.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
            return None
        elif e.errno == sqlError.ER_BAD_DB_ERROR:
            print("Database does not exist")
            return None
        else:
            print(e)
            return None
    else:
        return None

In [25]:
def execute_dbquery(query, db=None, cursor=None):
    # If no db or cursor is provided, connect to the database
    if db is None or cursor is None:
        db, cursor = connect_to_db()

    try:
        cursor.execute(query)
        db.commit()
    except mysql.Error as e:
        print(f"Failed creating database with query: {query} - Error: {e}")
        exit(1)

In [26]:
def create_name_from_description(titles):
    titleList = ""
    for title in titles:
        title = title.replace(",", "").replace("'", "").replace(".", "").lower()
        titleList += f'[{title}],'
    message = {"role": "user", "content": f"{titleList}"}
    messages = [
        {
        "role": "system",
        "content": """
            Produce a list of readable database column names using the list of Column Descriptions provided.
            Column Names should NOT start with a number, be MySQL reserved word or Python keyword. 
            All special characters are to be replaced with an underscore and the Column Name should be all lowercase. 
            Make sure Column Names are readable, descriptive, concise, consistent, unique, and less than 30 characters including underscores.
            Return one entry for each Column Name submitted by the user.
            DO NOT return a numbered list.
            Substitute common words in the Column Descriptions with abbreviations such as:
                'inst' replaces 'institution'
                'id' replaces 'identification'
                'class' replaces 'classification'
                'cd' replaces 'code'
                'org' replaces 'organization'
                'loc' replaces 'location'
                'cat' replaces 'category'
                'url' replaces 'web address'
                'url' replaces 'website address'
                'rpt' replaces 'report'
            Returned Column Name(s) should be in square brackets."""
        },
        {
        "role": "user",
        "content": "[Unique identification number of the institution]"
        },
        {
        "role": "assistant",
        "content": "[uid]"
        },
        {
        "role": "user",
        "content": "[Institution (entity) name], [Institution name alias]"
        },
        {
        "role": "assistant",
        "content": "[inst_name], [inst_alias]"
        },
        {
        "role": "user",
        "content": """[Title of chief administrator], 
                [Disability Services Web Address], 
                [Institution's internet web address], 
                [Office of Postsecondary Education (OPE) ID Number], 
                [Sector of institution]"""
        },
        {
        "role": "assistant",
        "content": "[title_chief_administrator], [disability_url], [inst_url], [ope_id], [sector]"
        }
    ]
    messages.append(message)

    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=0,
        max_tokens=1024,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0
    )
    return response.choices[0]['message']['content'].replace("[", "").replace("]", "").replace(" ", "").split(",")

In [27]:
def return_list_of_processed_tables():
    directory_path = 'dictionary/'
    file_pattern = '*.new.xlsx'

    files_list = glob.glob(directory_path + '/' + file_pattern)
    new_files_list = []
    for each_file in files_list:
        new_files_list.append(each_file.replace(directory_path, '').replace('.new.xlsx', '').upper())

    return new_files_list

In [28]:
### 
### Process the IPEDS data tables and create new column names using OpenAI API
###
### Read the dictionary files for the database
dbDictionary = pd.read_excel('@dictionary.xlsx', sheet_name='Tables21')
dbValues = pd.read_excel('@dictionary.xlsx', sheet_name='valuesets21')

### Create a list of tuples with the table names and the data files
tableNames = list(zip(dbDictionary.TIM7020TableName, dbDictionary.TableName))
### Get a list of the tables that have already been processed
processedTables = return_list_of_processed_tables()
###
### For each table, generate the new variable names using OpenAI API
### Write the new variable names to a ".new." dictionary file, 
###  so we're not having to make repeated calls to the API
###
for myTableName, ipedsTableName in tableNames:
    if ipedsTableName.upper() not in processedTables:
        ### Processing the current table
        print(f'myTableName: {myTableName}, ipedsTableName: {ipedsTableName}')
        ### Read table's dictionary file
        tableDictionary = pd.read_excel(f'dictionary/{ipedsTableName}.xlsx', sheet_name=1)
        # Create list of column descriptions to be used as input to the API
        varibleTitles = tableDictionary.iloc[:,6].tolist()
        # Print the number of variables in the list of column names
        print(f'varibleTitles (length): {len(varibleTitles)}')
        # Group the column names into groups of 30 to make the API calls
        groups = [varibleTitles[i:i+20] for i in range(0, len(varibleTitles), 20)]
        varibleTitlesNew = []
        for group in groups:
            varibleTitlesNew.extend(create_name_from_description(group))
            time.sleep(5)
        # Print the number of variables in the list of new column names
        print(f'varibleTitlesNew (length): {len(varibleTitlesNew)}')
        # Append the new column names to the table's dictionary file
        tableDictionary['varname_new'] = varibleTitlesNew
        # Write the new dictionary file to disk
        tableDictionary.to_excel(f'dictionary/{ipedsTableName.lower()}.new.xlsx', sheet_name='varlist', index=False)

In [34]:
### Read the dictionary file for the database
dbDictionary = pd.read_excel('@dictionary.xlsx', sheet_name='Tables21')
dbRefValues = pd.read_excel('@dictionary.xlsx', sheet_name='valuesets21')
loopCount = 0
### Create a list of tuples with the table names and the data files
tableNames = list(zip(dbDictionary.TIM7020TableName, dbDictionary.TableName))

### 
### For each table, read the dictionary file and build the CREATE TABLE/ALTER TABLE queries 
### to build the IPEDS Postsecondary database using the IPEDS dictionary and data files
### The novel opportunity here is to use the dictory file to determine the data type of the columns
###   create new human readable column names and added the column description as column comments 
###
for myTableName, ipedsTableName in tableNames:
    ### Read the dictionary file
    print(f'myTableName: {myTableName}, ipedsTableName: {ipedsTableName}')
    ### Read table's dictionary file
    tableDictionary = pd.read_excel(f'dictionary/{ipedsTableName}.new.xlsx', sheet_name='varlist')
    # Create list of column descriptions less the first row (IPEDS ID)
    variableNames = tableDictionary['varname_new'].tolist()
    ### Read first 100 rows of the data file to verify data types
    tableData = pd.read_csv(f'data/{ipedsTableName}.csv', nrows=100, encoding="utf-8", na_values=['.', ' '])
    ### Create string for the query
    alterTableQuery = f'ALTER TABLE {myTableName} \n'
    ###
    ### Loop through the rows of the table dictionary file

    for index, row in tableDictionary.iterrows():
        addColumn = None
        dataType = None
        if index == 0:
            createTableQuery = f'CREATE TABLE IF NOT EXISTS {myTableName} ({row.varname_new} INTEGER);'
            continue
        ## If there is an imputation variable, add it to the table
        if (isinstance(row.imputationvar, str) == True) and (row.imputationvar != 'None' and row.imputationvar[0].upper() == 'X'):
            # print(row.varnumber, row.varname, row.DataType, row.Fieldwidth, row.imputationvar, row.varTitle)
            addColumn = f'ADD COLUMN IF NOT EXISTS {row.imputationvar} ENUM({IMPUTATIONVALUES}),'

        ## If the column is an alpha column, add it to the table
        if (row.format == 'Alpha'):
            dataType = f'VARCHAR({row.Fieldwidth})'
        ## If the column is a continuous column, add it to the table
        elif (row.format == 'Cont'):
            ## Check to see if data type is integer or float
            if tableData[row.varname.upper()].dtype == 'float':
                if row.Fieldwidth > 8:
                    dataType = 'DOUBLE'
                else:
                    dataType = 'FLOAT'
            else:
                if row.Fieldwidth > 8:
                    dataType = 'BIGINT'
                elif row.Fieldwidth > 4:
                    dataType = 'INT'
                elif row.Fieldwidth == 1:
                    dataType = 'TINYINT'
        ##
        ## If the column is a discrete column, 
        ##  determine if we need to create it as a ENUM or if a Reference table needs to be created
        ##  with a foreign key constraint
        ##
        elif (row.format == 'Disc'):
            # print varNumber
            # print (row.varnumber, row.varname, row.DataType, row.Fieldwidth, row.imputationvar, row.varTitle)
            decreteValues = dbRefValues.loc[dbRefValues['varNumber'] == row.varnumber, 'Codevalue'].tolist()
            # print(f'{row.varname_new}: {decreteValues}')
            if len(decreteValues) < 6:
                dataType = f'ENUM({decreteValues})'
            elif tableData[row.varname.upper()].dtype == 'float':
                if row.Fieldwidth > 8:
                    dataType = 'DOUBLE'
                else:
                    dataType = 'FLOAT'
            else:
                if row.Fieldwidth > 8:
                    dataType = 'BIGINT'
                elif row.Fieldwidth > 4:
                    dataType = 'INT'
                elif row.Fieldwidth == 1:
                    dataType = 'TINYINT'
           
        if dataType == None:
            print(f'ERROR: {row.varname_new} has no data type, setting to TEXT')
            dataType = 'TEXT'
        ##
        ## Add the column to the ALTER TABLE query
        ##    
        addColumn = f'    ADD COLUMN {row.varname_new} {dataType},'
        alterTableQuery += addColumn + '\n'
    ##
    ## Remove the last comma and space, add a semicolon
    ##
    alterTableQuery = alterTableQuery[:-2] + ';'
    
    if loopCount > 0:
        print(f'\n{createTableQuery}\n')
        print(f'\n{alterTableQuery}\n')

    # ## DROP the table
    # execute_dbquery(f'DROP TABLE IF EXISTS {myTableName};', db=db, cursor=cursor)
    # ## Create the table
    # execute_dbquery(f'CREATE TABLE {myTableName} (ipeds_id INTEGER);', db=db, cursor=cursor)
    # ## Alter the table by adding the columns
    # execute_dbquery(query=query, db=db, cursor=cursor)

    loopCount += 1
    if loopCount > 2:
        break

myTableName: inst_ic_directory, ipedsTableName: HD2021
10016 STABBR A 2 nan State abbreviation
state: ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'AS', 'FM', 'GU', 'MH', 'MP', 'PW', 'PR', 'VI']
10026 FIPS N 2 nan FIPS state code
fips_state_code: ['1', '2', '4', '5', '6', '8', '9', '10', '11', '12', '13', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48', '49', '50', '51', '53', '54', '55', '56', '60', '64', '66', '68', '69', '70', '72', '78']
10031 OBEREG N 2 nan Bureau of Economic Analysis (BEA) regions
bea_regions: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
10076 OPEFLAG N 1 nan OPE Title IV eligibility indicator code
ope_eligibility_code: ['1', '2', '3', '4', '8', '5', '6', '7']
10086 SECTOR N 2 nan Sector of institution
sector: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '99']
10091 ICLEVEL N 2 nan Level of institution
level: ['1', '2', '3', '-3']
10096 CONTROL N 2 nan Control of institution
control: ['1', '2', '3', '-3']
10101 HLOFFER N 2 nan Highest level of offering
highest_level: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '-2', '-3']
10106 UGOFFER N 2 nan Undergraduate offering
undergraduate_offering: ['1', '2', '-3']
10111 GROFFER N 2 nan Graduate offering
graduate_offering: ['1', '2', '-3']
10122 HDEGOFR1 N 2 nan Highest degree offered
highest_degree_offered: ['11', '12', '13', '14', '20', '30', '40', '0', '-3']
10126 DEGGRANT N 2 nan Degree-granting status
degree_granting_status: ['1', '2', '-3']
10151 HBCU N 2 nan Historically Black College or University
hbcu: ['1', '2']
10156 HOSPITAL N 2 nan Institution has hospital
has_hospital: ['1', '2', '-1', '-2']
10161 MEDICAL N 2 nan Institution grants a medical degree
grants_medical_degree: ['1', '2', '-1', '-2']
10166 TRIBAL N 2 nan Tribal college
tribal_college: ['1', '2']
10176 LOCALE N 2 nan Degree of urbanization (Urban-centric locale)
urbanization_degree: ['11', '12', '13', '21', '22', '23', '31', '32', '33', '41', '42', '43', '-3']
10181 OPENPUBL N 2 nan Institution open to the general public
open_to_public: ['1', '0']
10186 ACT A 1 nan Status of institution
institution_status: ['A', 'N', 'R', 'M', 'C', 'D', 'I', 'O', 'P', 'Q', 'W', 'X', 'G']
10196 DEATHYR N 4 nan Year institution was deleted from IPEDS
year_deleted_ipeds: ['2021', '-2']
10206 CYACTIVE N 1 nan Institution is active in current year
active_in_current_year: ['1', '2', '3']
10211 POSTSEC N 2 nan Primarily postsecondary indicator
postsecondary_indicator: ['1', '2', '3']
10216 PSEFLAG N 2 nan Postsecondary institution indicator
title_iv_indicator: ['1', '2', '3']
10221 PSET4FLG N 2 nan Postsecondary and Title IV institution indicator
postsecondary_title_iv_indicator: ['1', '2', '3', '4', '5', '6', '9']
15055 RPTMTH N 2 nan Reporting method for student charges, graduation rates, retention rates and student financial aid
reporting_method_charges_graduation_rates_retention_rates_financial_aid: ['1', '3', '2', '-1', '-2']
15210 INSTCAT N 2 nan Institutional category
institutional_category: ['1', '2', '3', '4', '5', '6', '-1', '-2']
15620 C21BASIC N 2 nan Carnegie Classification 2021: Basic
carnegie_classification_2021_basic: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '0', '-2']
15516 C21IPUG N 2 nan Carnegie Classification 2021: Undergraduate Instructional Program
carnegie_classification_2021_undergrad_program: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '0', '-2']
15517 C21IPGRD N 2 nan Carnegie Classification 2021: Graduate Instructional Program
carnegie_classification_2021_grad_program: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '0', '-2']
15518 C21UGPRF N 2 nan Carnegie Classification 2021: Undergraduate Profile
carnegie_classification_2021_undergrad_profile: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '0', '-2']
15519 C21ENPRF N 2 nan Carnegie Classification 2021: Enrollment Profile
carnegie_classification_2021_enrollment_profile: ['1', '2', '3', '4', '5', '6', '7', '0', '-2']
15520 C21SZSET N 2 nan Carnegie Classification 2021: Size and Setting
carnegie_classification_2021_size_setting: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '0', '-2']
15615 C18BASIC N 2 nan Carnegie Classification 2018: Basic
carnegie_classification_2018_basic: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '0', '-2']
15515 C15BASIC N 2 nan Carnegie Classification 2015: Basic
carnegie_classification_2015_basic: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '0', '-2']
15215 CCBASIC N 2 nan Carnegie Classification 2005/2010: Basic
carnegie_classification_2005_2010_basic: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '0', '-2']
10171 CARNEGIE N 2 nan Carnegie Classification 2000
carnegie_classification_2000: ['15', '16', '21', '22', '31', '32', '33', '40', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '-2']
15225 LANDGRNT N 2 nan Land Grant Institution
land_grant_institution: ['1', '2']
23357 INSTSIZE N 2 nan Institution size category
institution_size_category: ['1', '2', '3', '4', '5', '-1', '-2']
16066 F1SYSTYP N 2 nan Multi-institution or multi-campus organization
multi_inst_org: ['1', '2', '-1', '-2']
16070 F1SYSCOD A 6 nan Identification number of multi-institution or multi-campus organization
multi_inst_id: ['101030', '101040', '101050', '102010', '104010', '104020', '105010', '105020', '105030', '106010', '106020', '106040', '106050', '106060', '106070', '106080', '106090', '106100', '108010', '108020', '108030', '108040', '109010', '109030', '110010', '111010', '112010', '112020', '112030', '112040', '112050', '112060', '112070', '112080', '112090', '113010', '113020', '115010', '116010', '117010', '117020', '117030', '117040', '118020', '118030', '118070', '118090', '119010', '119020', '120010', '121010', '122010', '122020', '122030', '122040', '123010', '123020', '124010', '125010', '125020', '125030', '126010', '127010', '127020', '128010', '128020', '129030', '129050', '129070', '129080', '129090', '129120', '129130', '129140', '129160', '129170', '130020', '131010', '131020', '132010', '133010', '133020', '134010', '134020', '135010', '135020', '135030', '136010', '136020', '136040', '137010', '137020', '137030', '138010', '139020', '139030', '139050', '139060', '139065', '139090', '139100', '139110', '139130', '139140', '140020', '140030', '140050', '141010', '142020', '142030', '142050', '142060', '142070', '144010', '145010', '145020', '145030', '146010', '146020', '147010', '147020', '148010', '148013', '148020', '148030', '148040', '148050', '148060', '148070', '148080', '149020', '150010', '151020', '151030', '153010', '153020', '154010', '154020', '154030', '154040', '154050', '154060', '154070', '154080', '155010', '155020', '172010', '172020', '200030', '200040', '200060', '200070', '200080', '200100', '200110', '200130', '200140', '200150', '200160', '200170', '200180', '200190', '200200', '200220', '200230', '200260', '200330', '200333', '200340', '200350', '200380', '200410', '200420', '200430', '200440', '200445', '200448', '200450', '200475', '200490', '200500', '200505', '200510', '200530', '200540', '200554', '200570', '200580', '200590', '200600', '200610', '200620', '200630', '200640', '200655', '200670', '200680', '200740', '200750', '200760', '200770', '200780', '200783', '200787', '200790', '200800', '200810', '200815', '200820', '200860', '200880', '200890', '200900', '200910', '200913', '200930', '200960', '200970', '200990', '201010', '201020', '201040', '201050', '201070', '201090', '201100', '201140', '201150', '201160', '201170', '201210', '201220', '201250', '201260', '201290', '201320', '201330', '201350', '201390', '201400', '201410', '201420', '201430', '201440', '201460', '201470', '201480', '201490', '201500', '201510', '201528', '201530', '201540', '201550', '201570', '201590', '201620', '300010', '300012', '300032', '300070', '300100', '300120', '300160', '300165', '300210', '300260', '300280', '300290', '300320', '300350', '300361', '300365', '300380', '300390', '300400', '300430', '300450', '300470', '300490', '300500', '300510', '300530', '300550', '300555', '300570', '300580', '300620', '300623', '300630', '300650', '300670', '300690', '300700', '300760', '300800', '300810', '300820', '300840', '300870', '300910', '300940', '300970', '301005', '301015', '301040', '301080', '301090', '301100', '301110', '301140', '301160', '301180', '301290', '301300', '301310', '301330', '301350', '301370', '301475', '301490', '301500', '301520', '301555', '301580', '301590', '301600', '301620', '301640', '301650', '301680', '301720', '301780', '301810', '301825', '301850', '301865', '301880', '301890', '301910', '301920', '301950', '301975', '301990', '301995', '302010', '302060', '302090', '302140', '302150', '302155', '302240', '302245', '302340', '302360', '302365', '302370', '302380', '302460', '302480', '302530', '302550', '302564', '302570', '302600', '302620', '302630', '302645', '302700', '302730', '302740', '302750', '302760', '302780', '302810', '302820', '302835', '302840', '302850', '302860', '302880', '302900', '302910', '302930', '302980', '303010', '303040', '303090', '303100', '303180', '303190', '303200', '303250', '303260', '303270', '303280', '303290', '303320', '303340', '303380', '303390', '303400', '303410', '303460', '303470', '303480', '303530', '303540', '303550', '303580', '303590', '303610', '303620', '303635', '303650', '303660', '303680', '303690', '303700', '303710', '303740', '303745', '303790', '303800', '303810', '303820', '303830', '303840', '303850', '303860', '303880', '303890', '303900', '303910', '303920', '303950', '303970', '304000', '304010', '304050', '304070', '304120', '304130', '304150', '304180', '304190', '304200', '304215', '304230', '304255', '304270', '304320', '304370', '304400', '304420', '304450', '304480', '304505', '304515', '304520', '304530', '304550', '304580', '304590', '304600', '304650', '304660', '304670', '304690', '304700', '304730', '304760', '304765', '304770', '304780', '304790', '304800', '304810', '304820', '304840', '304850', '304880', '304930', '304950', '304970', '305020', '305040', '400010', '-1', '-2']
16086 CBSA N 5 nan Core Based Statistical Area (CBSA)
cbsa: ['10100', '10140', '10180', '10220', '10300', '10380', '10420', '10460', '10500', '10540', '10580', '10620', '10700', '10740', '10760', '10780', '10820', '10900', '10940', '10980', '11020', '11060', '11100', '11140', '11180', '11220', '11260', '11420', '11460', '11500', '11540', '11620', '11640', '11660', '11700', '11740', '11780', '11820', '11860', '11900', '11940', '11980', '12020', '12060', '12100', '12180', '12220', '12260', '12300', '12380', '12420', '12540', '12580', '12620', '12660', '12700', '12740', '12780', '12860', '12900', '12940', '12980', '13020', '13140', '13180', '13220', '13300', '13380', '13420', '13460', '13540', '13620', '13660', '13700', '13720', '13740', '13780', '13820', '13900', '13940', '13980', '14010', '14020', '14100', '14140', '14180', '14260', '14380', '14420', '14460', '14500', '14540', '14580', '14620', '14660', '14700', '14740', '14780', '14820', '14860', '15100', '15180', '15220', '15260', '15380', '15420', '15460', '15500', '15540', '15580', '15620', '15680', '15780', '15820', '15940', '15980', '16020', '16060', '16100', '16180', '16220', '16260', '16300', '16380', '16500', '16540', '16580', '16620', '16660', '16700', '16740', '16820', '16860', '16940', '16980', '17020', '17060', '17140', '17220', '17260', '17300', '17380', '17420', '17460', '17580', '17620', '17660', '17700', '17780', '17820', '17860', '17900', '17980', '18060', '18140', '18180', '18260', '18300', '18420', '18460', '18500', '18580', '18620', '18660', '18700', '18820', '18880', '18900', '18980', '19000', '19060', '19100', '19140', '19180', '19220', '19260', '19300', '19340', '19420', '19430', '19500', '19580', '19660', '19740', '19780', '19820', '19860', '19940', '19980', '20020', '20060', '20100', '20180', '20220', '20260', '20340', '20420', '20460', '20500', '20540', '20580', '20700', '20740', '20900', '20940', '20980', '21020', '21060', '21140', '21180', '21220', '21260', '21300', '21340', '21380', '21420', '21460', '21500', '21540', '21580', '21660', '21700', '21780', '21820', '21840', '21900', '22020', '22060', '22100', '22140', '22180', '22220', '22260', '22300', '22380', '22420', '22500', '22520', '22540', '22580', '22620', '22660', '22700', '22780', '22820', '22900', '23060', '23180', '23300', '23340', '23380', '23420', '23460', '23500', '23540', '23580', '23620', '23660', '23700', '23780', '23900', '23980', '24020', '24060', '24140', '24220', '24260', '24300', '24330', '24340', '24380', '24420', '24460', '24500', '24540', '24580', '24620', '24660', '24740', '24780', '24860', '24900', '24940', '24980', '25020', '25060', '25100', '25180', '25220', '25260', '25300', '25420', '25460', '25500', '25540', '25580', '25620', '25700', '25720', '25740', '25760', '25780', '25840', '25860', '25880', '25900', '25940', '26020', '26140', '26260', '26300', '26340', '26380', '26420', '26460', '26500', '26540', '26580', '26620', '26660', '26740', '26820', '26860', '26900', '26940', '26980', '27020', '27060', '27100', '27140', '27180', '27260', '27300', '27340', '27380', '27420', '27460', '27500', '27530', '27620', '27740', '27780', '27860', '27900', '27940', '27980', '28020', '28060', '28100', '28140', '28180', '28260', '28300', '28420', '28500', '28580', '28660', '28700', '28740', '28780', '28820', '28860', '28900', '28940', '29020', '29060', '29100', '29180', '29200', '29260', '29300', '29340', '29380', '29420', '29460', '29540', '29620', '29660', '29700', '29740', '29780', '29820', '29860', '29900', '29940', '29980', '30020', '30060', '30100', '30140', '30220', '30260', '30300', '30340', '30380', '30460', '30580', '30620', '30660', '30700', '30780', '30820', '30860', '30940', '30980', '31020', '31060', '31080', '31140', '31180', '31220', '31260', '31300', '31340', '31380', '31420', '31460', '31500', '31540', '31580', '31620', '31660', '31680', '31700', '31740', '31820', '31860', '31900', '31930', '31980', '32000', '32020', '32100', '32140', '32180', '32260', '32280', '32300', '32340', '32380', '32420', '32500', '32540', '32580', '32620', '32660', '32700', '32740', '32780', '32820', '32860', '32900', '32940', '33060', '33100', '33180', '33220', '33260', '33300', '33340', '33380', '33460', '33500', '33540', '33580', '33620', '33660', '33700', '33740', '33780', '33860', '33980', '34060', '34100', '34140', '34180', '34260', '34340', '34350', '34380', '34420', '34500', '34540', '34580', '34620', '34660', '34740', '34780', '34820', '34860', '34900', '34940', '34980', '35060', '35100', '35140', '35260', '35300', '35380', '35420', '35440', '35580', '35620', '35660', '35740', '35820', '35840', '35900', '35940', '35980', '36100', '36220', '36260', '36300', '36340', '36420', '36460', '36500', '36540', '36580', '36620', '36660', '36700', '36740', '36780', '36820', '36837', '36840', '36900', '36980', '37060', '37100', '37120', '37140', '37260', '37340', '37460', '37500', '37540', '37580', '37620', '37660', '37800', '37860', '37900', '37980', '38060', '38100', '38220', '38240', '38260', '38300', '38340', '38380', '38420', '38460', '38500', '38540', '38580', '38620', '38660', '38740', '38780', '38820', '38860', '38900', '38940', '39020', '39060', '39100', '39150', '39300', '39340', '39380', '39420', '39460', '39500', '39540', '39580', '39660', '39740', '39820', '39900', '39940', '39980', '40060', '40080', '40140', '40180', '40220', '40260', '40340', '40380', '40420', '40460', '40540', '40580', '40620', '40660', '40700', '40740', '40760', '40780', '40820', '40860', '40900', '40940', '40980', '41060', '41100', '41140', '41180', '41220', '41400', '41420', '41460', '41500', '41540', '41620', '41660', '41700', '41740', '41780', '41820', '41860', '41900', '41940', '41980', '42020', '42100', '42140', '42200', '42220', '42300', '42340', '42380', '42420', '42460', '42540', '42620', '42660', '42680', '42700', '42740', '42780', '42820', '42900', '43020', '43060', '43100', '43140', '43180', '43260', '43300', '43320', '43340', '43420', '43500', '43580', '43620', '43660', '43700', '43740', '43760', '43780', '43900', '43940', '44020', '44060', '44100', '44140', '44180', '44220', '44260', '44300', '44340', '44420', '44500', '44540', '44580', '44620', '44660', '44700', '44740', '44780', '44940', '44980', '45000', '45060', '45140', '45180', '45220', '45300', '45340', '45460', '45500', '45520', '45540', '45620', '45660', '45700', '45740', '45780', '45820', '45860', '45900', '45940', '45980', '46020', '46060', '46100', '46140', '46180', '46220', '46300', '46340', '46380', '46420', '46520', '46540', '46620', '46660', '46700', '46780', '46820', '46860', '46900', '47020', '47080', '47180', '47220', '47260', '47300', '47340', '47380', '47420', '47460', '47580', '47620', '47660', '47700', '47820', '47900', '47940', '47980', '48020', '48060', '48140', '48180', '48220', '48260', '48300', '48460', '48540', '48580', '48620', '48660', '48700', '48780', '48820', '48900', '48940', '48980', '49020', '49060', '49100', '49180', '49220', '49260', '49300', '49340', '49380', '49420', '49460', '49500', '49620', '49660', '49700', '49740', '49780', '-2']
16091 CBSATYPE N 2 nan CBSA Type Metropolitan or Micropolitan
cbsa_type: ['1', '2', '-2', '-3']
16096 CSA N 3 nan Combined Statistical Area (CSA)
csa: ['104', '106', '107', '108', '118', '120', '122', '140', '142', '144', '145', '146', '147', '148', '150', '154', '160', '161', '162', '163', '164', '168', '170', '172', '174', '176', '178', '184', '185', '188', '190', '192', '194', '198', '200', '204', '206', '209', '212', '216', '218', '220', '221', '222', '232', '233', '236', '238', '240', '244', '246', '258', '260', '264', '266', '267', '268', '272', '273', '276', '277', '278', '279', '284', '288', '290', '292', '294', '296', '297', '298', '300', '304', '306', '308', '309', '310', '312', '313', '314', '315', '316', '318', '320', '324', '332', '336', '338', '339', '340', '348', '350', '352', '356', '357', '359', '360', '361', '362', '364', '365', '366', '368', '370', '372', '376', '378', '380', '384', '388', '390', '393', '394', '396', '400', '404', '406', '408', '412', '416', '420', '422', '424', '425', '426', '428', '429', '430', '434', '438', '440', '444', '446', '448', '450', '452', '454', '456', '458', '462', '464', '466', '468', '472', '474', '476', '480', '482', '484', '488', '490', '496', '497', '500', '508', '515', '517', '518', '522', '524', '532', '534', '536', '538', '539', '540', '544', '545', '548', '554', '556', '558', '566', '-2']
16099 NECTA N 5 nan New England City and Town Area (NECTA)

In [ ]:
# models = openai.Model.list()
# print(models)

In [ ]:
# message=[
#         {"role": "system", "content": "You are a helpful database design assistant."},
#         {"role": "user", "content": prompt},
#     ]

# response = openai.ChatCompletion.create(
#   model="gpt-3.5-turbo-16k-0613",
#   messages=message,
#   temperature=0,
#   max_tokens=13223
# )

In [ ]:

# content = response.choices[0]['message']['content']
# # print(content)
# # Split the string into lines
# cols = content.strip().splitlines()
# # print(cols)
# # # Split each line at the colon (:) and extract the second part
# # entries = [line.split(":")[1].strip() for line in lines if ":" in line]
# id = ['ipeds_id']
# cols = id + cols[2:] 
# print(cols)